################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

./web_app/.cache
./web_app/.vscode
./web_app/node_modules
