################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/brasovair/web_app
/brasovair/web_app/.cache
/brasovair/web_app/.vscode
/brasovair/web_app/node_modules
